.forgot-password-wrapper {
    background-image: url('/assets/food_delivery_image.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.forgot-password-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
}